---
layout: default
main_title: フリーソフトウェア開発
sub_title:
---

<p>弊社では以下のようなフリーソフトウェアを開発しています。また、<a href="../services/">フリーソフトウェアを活かした各種サービス</a>もご提供しています。</p>

<h2>Cutter<span class="sub"><span class="separator"> - </span>C言語・C++言語用テスティングフレームワーク</span></h2>
<p>
	<a href="cutter.html">
		<img src="cutter-accelerate-development-cycle.png" alt="開発サイクルを加速するテスティングフレームワーク" title="Cutter" class="photo">
	</a>
	Cutterは書きやすさ・デバッグのしやすさを重視したC言語・C++言語用のテスティングフレームワークです。メンテナンスしやすく、利用効果の高いユニットテスト（単体テスト）の開発を支援します。
</p>
<ul>
	<li><a href="cutter.html">Cutter紹介ページへ</a></li>
</ul>


<h2>milter manager<span class="sub"><span class="separator"> - </span>milterを使った効果的な迷惑メール対策</span></h2>
<p>
	<a href="milter-manager.html">
		<img src="milter-manager-flexible-low-cost-anti-spam-software.png" alt="迷惑メール対策を柔軟に低コストで実現" title="milter manager" class="photo">
	</a>
milter managerはmilterを使って効果的に迷惑メール（スパムメール・ウィルスメール）対策を行うフリーソフトウェアです。
</p>
<p>milter managerはmilterをサポートしているSendmailやPostfixといったMTAと一緒に使うことができます。Ubuntu、CentOS、FreeBSDなどのプラットフォーム上で動作します。 </p>
<ul>
	<li><a href="milter-manager.html">milter manager紹介ページへ</a></li>
</ul>


<h2>UxU - UnitTest.XUL<span class="sub"><span class="separator"> - </span>Firefox/Thunderbirdアドオン・XULRunnerアプリケーション開発用テスティングフレームワーク</span></h2>
<p><a href="uxu.html">
		<img src="uxu-logo.png" alt="" class="photo">
	</a>
	UxUは、Firefox・Thunderbird用のアドオン、およびXULRunnerアプリケーションの開発を支援するxUnitテスティングフレームワークです。GUIや遅延読み込みに関係した機能の自動テストを支援するために、処理待ちなどの便利な機能を備えています。</p>
<ul>
	<li><a href="uxu.html">UxU紹介ページへ</a></li>
	<li><a href="uxu/">UxUプロジェクトページへ</a></li>
</ul>
