---
layout: default
main_title: オープンソースカンファレンス2009 Tokyo/Springに協賛
sub_title:
type: topic
---

<p>クリアコードは、2009年2月20日(金)、21日(土)に開催されるオープンソースカンファレンス2009 Tokyo/Springに協賛致します。</p>

<p>展示スペースでは、迷惑メール対策ソフトウェアである<a href="http://milter-manager.sourceforge.net/index.html.ja">milter manager</a>や<a href="/services/mozilla/menu.html">Mozilla関連サービス</a>、さらに今夏実施予定の<a href="/internship/">インターンシップ</a>の紹介を予定しております。</p>

<p>ご来場の際は、是非クリアコード展示スペースにお立ち寄りください。</p>

<p>オープンソースカンファレンス2009 Tokyo/Springの詳細は<a href="http://www.ospn.jp/osc2009-spring/">こちら</a>。</p>
