---
layout: default
main_title: プロジェクトリスト
sub_title:
---

	<p>クリアコードのメンバーが関わっているフリーソフトウェア開発プロジェクトを紹介します。<a href="./">パッチ採用</a>ではここに書かれているプロジェクトから1つ以上のプロジェクトを選んで一緒に開発します。ここに書かれていないプロジェクトもあります。応募者が自分で調べて書かれていないプロジェクトを見つけてきて、それを一緒に開発するプロジェクトに選んでもよいです。</p>

	<p>（プロジェクトのリストは2017年8月現在の情報です。）</p>

	<p>プロジェクトの中で何をして欲しいかを具体的に指示することはありません。これは、応募者を「単なる作業者」と考えていないためです。多くのフリーソフトウェア開発プロジェクトでは、それぞれの開発者が自律的に考え、開発しているソフトウェアをよりよくするためにそれぞれがよいと思うことを進めていきます。応募者にも同様に進めてもらいます。</p>

	<p>誤解がないように補足すると、これは「全部自分で考えろ、他人に頼るな」、「聞くな、察しろ」ということではありません。「○○をやろうとしているのですが、△△というエラーが発生してうまく動きません。このようなときはどうしたらよいですか？」と相談されたら、「□□が怪しいかもしれません。ログに☆☆はでていませんか？」というように助けます。「このプロジェクトで困っていることはありますか？」と聞かれたら「○○と△△で困っています。」とちゃんと答えます。1人で開発しているのではなく、複数人で開発しているので、相談したり質問したり自分の考えを伝えたりといったコミュニケーションは必要です。よりよいソフトウェアにするためにコミュニケーションを活用してください。</p>

	<p>応募者に「自律的に考えて行動する」という進め方をしてもらうということは、「細かく作業の指示を与えて、それにどれだけ正確に応えられるか」をクリアコード側の判断基準とはしていないということです。もし、それを判断基準としているなら細かく作業の指示を与えます。「一緒に」開発したい人とは「使いやすいコマ」だとは考えていません。「一緒に」考えて「一緒に」よいものを作っていける人だと考えています。応募者が「自律的に考えて行動する」という進め方をしてくれることで、「一緒に」開発したい人かどうかを判断できると考えています。</p>

	<p>なお、それぞれが自律的に考えて行動しよいソフトウェアを開発する、というスタイルは、フリーソフトウェアの開発から学んだことです。通常の業務でもこのことを活かしています。新しく一緒に働く人にもこのことを活用して欲しいと考えています。</p>

	<h2 id="red-data-tools">Red Data Tools</h2>

	<p><a href="https://red-data-tools.github.io/ja/">Red Data Tools</a>はRubyでデータ処理できるようにするためのツール群を提供するプロジェクトです。</p>

	<p>参考情報は次の通りです。</p>
	<ul>
		<li><a href="https://red-data-tools.github.io/ja/#products">プロダクトリスト</a></li>
		<li><a href="https://slide.rabbit-shocker.org/authors/kou/data-science-rb/?page=36">Red Data Toolsプロジェクトを初めて紹介したときの資料</li>
	</ul>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>Ruby</li>
		<li>C</li>
		<li>C++</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="https://arrow.apache.org/">Apache Arrow</a></li>
		<li><a href="https://wiki.gnome.org/Projects/GObjectIntrospection/">GObject Introspection</a></li>
		<li><a href="http://ruby-gnome2.osdn.jp/">Ruby-GNOME2</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。</p>
	<ul>
		<li><a href="https://gitter.im/red-data-tools/ja">Gitter: red-data-tools/ja</a>: チャット</li>
	</ul>

<!--
	<h2 id="hatohol">Hatohol</h2>

	<p><a href="https://github.com/project-hatohol/hatohol">Hatohol</a>は複数の監視ツール（主にZabbix）を一元的に管理するソフトウェアです。各種監視ツールからデータを収集する部分はC++、UIはWebアプリケーション（Django）として実装しています。</p>

	<p>参考: <a href="http://www.ossnews.jp/closeup/articles/?aid=201308-00003">監視統合ビューアHatohol(はとほる)の紹介 | CLOSE UP コラム | OSSNEWS - オープンソース総合情報サイト</a></p>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>C</li>
		<li>C++</li>
		<li>Python</li>
		<li>JavaScript</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="https://www.djangoproject.com/">Django</a></li>
		<li><a href="http://www.zabbix.com/">Zabbix</a></li>
		<li><a href="http://www.nagios.org/">Nagios</a></li>
		<li><a href="https://developer.gnome.org/glib/">GLib</a></li>
		<li><a href="http://cutter.sourceforge.net/">Cutter</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。</p>
	<ul>
		<li><a href="https://github.com/project-hatohol/hatohol">GitHub</a>: ソースコードがあります。</li>
		<li><a href="https://github.com/project-hatohol/hatohol/issues">GitHub Issues</a>: 既知の問題や新機能のアイディアが登録されています。</li>
		<li><a href="https://lists.sourceforge.net/lists/listinfo/hatohol-commit">hatohol-commit@lists.sourceforge.net</a>: コミットメールが流れるメーリングリストです。どのようにコードを書いているかがわかります。</li>
	</ul>

	<p>Hatoholのことならなんでも扱うメーリングリストもありますが、使われていないようです。現在はまだ誰もメールを投稿していないだけで、投稿すれば開発者とやりとりできるはずです。</p>
	<ul>
		<li><a href="http://lists.osdn.me/mailman/listinfo/hatohol-users">hatohol-users@lists.osdn.me</a>: 日本語用のメーリングリストです。</li>
		<li><a href="https://lists.sourceforge.net/lists/listinfo/hatohol-users">hatohol-users@lists.sourceforge.net</a>: 英語用のメーリングリストです。</li>
	</ul>
-->

	<h2 id="groonga">Groonga</h2>

	<p><a href="http://groonga.org/ja/">Groonga</a>はカラムストア機能付きの全文検索エンジンです。全文検索サーバーとしてだけではなく、ライブラリーとしても使えることが特徴です。ライブラリーとして使えるため、RubyやMySQLなど他のシステムと使いやすい形で結合することができます。</p>

	<p>参考情報は次の通りです。</p>
	<ul>
		<li><a href="http://groonga.org/ja/docs/">公式ドキュメント</a></li>
		<li><a href="http://gihyo.jp/dev/clip/01/groonga">隔週連載Groonga</a>: Groongaおよび関連プロダクトの利用事例とプロダクトそのものの紹介。</li>
	</ul>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>C</li>
		<li>C++</li>
		<li>mruby</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="http://cutter.sourceforge.net/">Cutter</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。</p>
	<ul>
		<li><a href="https://github.com/groonga/groonga">GitHub</a>: ソースコードがあります。</li>
		<li><a href="http://lists.osdn.me/mailman/listinfo/groonga-commit">groonga-commit@lists.osdn.me</a>: コミットメールが流れるメーリングリストです。どのようにコードを書いているかがわかります。</li>
		<li><a href="http://lists.osdn.me/mailman/listinfo/groonga-dev">groonga-dev@lists.osdn.me</a>: Groongaおよび関連プロダクトに関してユーザー・開発者でやりとりするための日本語のメーリングリストです。</li>
		<li><a href="https://gitter.im/groonga/ja">Gitter: groonga/ja</a>: Groongaおよび関連プロダクトに関してユーザー・開発者でやりとりするための日本語のチャットです。</li>
	</ul>

	<h2 id="mroonga">Mroonga</h2>

	<p><a href="http://mroonga.org/ja/">Mroonga</a>はGroongaをMySQLから使えるようにするためのストレージエンジンです。全文検索に関する詳細を知らなくてもMySQLを知っている人なら簡単にGroongaが提供する高速な全文検索機能を使えるようになります。</p>

	<p>参考情報は次の通りです。</p>
	<ul>
		<li><a href="http://mroonga.org/ja/docs/">公式ドキュメント</a></li>
	</ul>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>C++</li>
		<li>C</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="http://cutter.sourceforge.net/">Cutter</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。コミュニケーション方法はGroongaと同じです。</p>
	<ul>
		<li><a href="https://github.com/mroonga/mroonga">GitHub</a>: ソースコードがあります。</li>
		<li><a href="http://lists.osdn.me/mailman/listinfo/groonga-commit">groonga-commit@lists.osdn.me</a>: コミットメールが流れるメーリングリストです。どのようにコードを書いているかがわかります。</li>
		<li><a href="http://lists.osdn.me/mailman/listinfo/groonga-dev">groonga-dev@lists.osdn.me</a>: Groongaおよび関連プロダクトに関してユーザー・開発者でやりとりするための日本語のメーリングリストです。</li>
		<li><a href="https://gitter.im/groonga/ja">Gitter: groonga/ja</a>: Groongaおよび関連プロダクトに関してユーザー・開発者でやりとりするための日本語のチャットです。</li>
	</ul>

	<h2 id="pgroonga">PGroonga</h2>

	<p><a href="https://pgroonga.github.io/ja/">PGroonga</a>はGroongaをPostgreSQLから使えるようにするためのインデックスです。全文検索に関する詳細を知らなくてもPostgreSQLを知っている人なら簡単にGroongaが提供する高速な全文検索機能を使えるようになります。</p>

	<p>参考情報は次の通りです。</p>
	<ul>
		<li><a href="https://pgroonga.github.io/ja/tutorial/">チュートリアル</a></li>
		<li><a href="https://pgroonga.github.io/ja/reference/">リファレンスマニュアル</a></li>
	</ul>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>C</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="http://msgpack.org/">MessagePack</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。コミュニケーション方法はGroongaと同じです。</p>
	<ul>
		<li><a href="https://github.com/pgroonga/pgroonga">GitHub</a>: ソースコードがあります。</li>
		<li><a href="http://lists.osdn.me/mailman/listinfo/groonga-commit">groonga-commit@lists.osdn.me</a>: コミットメールが流れるメーリングリストです。どのようにコードを書いているかがわかります。</li>
		<li><a href="http://lists.osdn.me/mailman/listinfo/groonga-dev">groonga-dev@lists.osdn.me</a>: Groongaおよび関連プロダクトに関してユーザー・開発者でやりとりするための日本語のメーリングリストです。</li>
		<li><a href="https://gitter.im/groonga/ja">Gitter: groonga/ja</a>: Groongaおよび関連プロダクトに関してユーザー・開発者でやりとりするための日本語のチャットです。</li>
	</ul>

<!--
	<h2 id="droonga">Droonga</h2>

	<p><a href="http://droonga.org/">Droonga</a>はGroongaベースの分散型のデータ処理エンジンです。要所要所をプラグインとして拡張できる設計になっており、用途に合わせてカスタマイズすることが特徴です。</p>

	<p>参考情報は次の通りです。</p>
	<ul>
		<li><a href="http://droonga.org/">Droonga公式サイト</a>: ドキュメントもあります。</li>
		<li><a href="http://slide.rabbit-shocker.org/authors/daijiro/groonga-night-4/">Droongaの紹介</a>: 開発者がDroongaについて説明した資料です。</li>
	</ul>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>Ruby</li>
		<li>Node.js</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="http://ranguba.org/ja/#about-rroonga">Rroonga</a></li>
		<li><a href="http://groonga.org/ja/">Groonga</a></li>
		<li><a href="http://fluentd.org/">Fluentd</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。</p>
	<ul>
		<li><a href="https://github.com/droonga/fluent-plugin-droonga">GitHub</a>: ソースコードがあります。</li>
		<li><a href="https://github.com/droonga/fluent-plugin-droonga/issues">GitHub Issues</a>: 既知の問題や新機能のアイディアが登録されています。やや使っています。</li>
		<li><a href="http://sourceforge.jp/projects/groonga/lists/archive/commit/">groonga-commit@lists.sourceforge.jp</a>: コミットメールが流れるメーリングリストです。どのようにコードを書いているかがわかります。</li>
		<li><a href="http://lists.sourceforge.jp/mailman/listinfo/groonga-dev">groonga-dev@lists.sourceforge.jp</a>: Groongaおよび関連プロダクトに関するユーザー・開発者でやりとりするための日本語のメーリングリストです。Droongaの話題はそれほどありませんが、活発です。</li>
		<li><a href="https://lists.sourceforge.net/lists/listinfo/groonga-talk">groonga-talk@lists.sourceforge.net</a>: 上述のgroonga-devの英語版です。あまり活発ではなく、数カ月に一回程度でユーザーからの投稿があります。</li>
	</ul>
-->

	<h2 id="milter-manager">milter manager</h2>

	<p><a href="http://milter-manager.sourceforge.net/index.html.ja">milter manager</a>はmilterを使って効果的に迷惑メール対策（スパムメール対策・ウィルスメール対策）を行います。milterとはSMTPサーバーにメールフィルターを組み込むための仕組みおよびその仕組みの上に実装されたメールフィルターです。</p>

	<p>実装面での特徴はmilter managerにRubyインタープリター（mrubyではなくCRuby）を組み込んでいることと、完全なmilterプロトコル実装を含んでいることです。milterプロトコルはイベントループと非同期I/Oで実装しているため、大量のSMTPセッションを効率よく処理することができます。</p>

	<p>参考情報は次の通りです。</p>
	<ul>
		<li><a href="http://milter-manager.sourceforge.net/reference/ja/introduction.html">milter managerの概要</a></li>
	</ul>

	<h3>使用技術</h3>
	<p>以下のプログラミング言語を使用しています。</p>
	<ul>
		<li>C</li>
		<li>Ruby</li>
	</ul>

	<p>以下のライブラリー・フレームワーク・ツールを使用しています。</p>
	<ul>
		<li><a href="http://software.schmorp.de/pkg/libev.html">libev</a></li>
		<li><a href="https://developer.gnome.org/glib/">GLib</a></li>
		<li><a href="http://cutter.sourceforge.net/">Cutter</a></li>
	</ul>

	<h3>開発者用情報</h3>
	<p>開発者間のコミュニケーションは以下で行われています。</p>
	<ul>
		<li><a href="https://github.com/milter-manager/milter-manager">GitHub</a>: ソースコードがあります。</li>
		<li><a href="https://lists.sourceforge.net/lists/listinfo/milter-manager-commit">milter-manager-commit@lists.sourceforge.net</a>: コミットメールが流れるメーリングリストです。どのようにコードを書いているかがわかります。</li>
		<li><a href="https://lists.sourceforge.net/lists/listinfo/milter-manager-users-ja">milter-manager-users-ja@lists.sourceforge.net</a>: milter managerに関してやりとりするための日本語のメーリングリストです。こちらもほとんど流量はありません。</li>
		<li><a href="https://lists.sourceforge.net/lists/listinfo/milter-manager-users-en">milter-manager-users-en@lists.sourceforge.net</a>: 上述のmilter-manager-users-jaの英語版です。こちらもほとんど流量はありません。</li>
	</ul>
